.container{
  margin: auto;
  max-width: 1200px;
  min-width: 800px;
  height: 100%;
}
.banner{
  width: 800px;
  height: 250px;
}
main{
  display: flex;
}
section{
  width: 32%;
  list-style-type: none;
}
